{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "globals": {
    "jest": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly",
    "test": "readonly",
    "beforeEach": "readonly",
    "beforeAll": "readonly",
    "afterEach": "readonly",
    "afterAll": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "object-curly-newline": "off",
    "quote-props": ["error", "consistent"],
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": ["error"],
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": ["error"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all"
      }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "class-methods-use-this": "off",
    "comma-dangle": 0,
    "brace-style": "off",
    "indent": 0,
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["searchRef"] }
    ],
    "max-len": ["error", { "code": 130, "tabWidth": 2 }],
    "linebreak-style": "off"
  }
}
